#chatEntries {
  padding: 9px 9px 9px 9px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
  height: 400px;
  font-family: Verdana, Geneva, sans-serif;
  overflow-y: auto;
  overflow-x: auto;
}

#messageInput {
  width: 600px;
}

